/* .hidden{
    display: none;
} */
caption{
    margin: 20px 20px 10px 40px;
    text-align: left;
}

.admin-table{
    width: 700px;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2); 
    padding: 10px;
}

.admin-table table{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    border-collapse: separate; 
    border-spacing: 20px 5px;
}

.admin-table input{
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid var(--silver);
}

.admin-table input:focus{
    border-bottom: 1px solid var(--teal);
}

tr:not(:last-child){
    cursor: pointer;
} 

.email-cell{
    cursor: default;
}

.hide-input{
    display: none;
}

.show-input input{
    display: block;
}

.trashcan {
    height: 17px;
    width: 17px;
    fill: var(--teal);
}

.mcsp-dropdown{
    height: 18.5px;
    min-width: 100px;
    font-size: 14px;
}

.Dropdown-placeholder{
    font-size: 15px;
}
.mcsp-dropdown-control{
    font-size: 10px;
    height: 100%;
    padding: 0;

}

.Dropdown-option:hover{
    background-color: var(--teal);
}
.Dropdown-control.mcsp-dropdown-control{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mcsp-dropdown-placeholder{
    padding: 0;
    margin: 0;
}

.Dropdown-arrow.mcsp-dropdown-arrow{
    top: 35%;    
}