@import url('https://fonts.cdnfonts.com/css/proxima-nova-2?styles=44818,44817,44816,44820');

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.student-navbar-container{
    position: relative;
    top: 30px;
    left: 0;
    height: 48px;
    width: 100%;
}

.student-navbar-buttons{
    position: relative;
    height: 100%;
    width: 50%;
    left: 40px;
    display: flex;
    justify-items: flex-start;
    gap: 20px;
}

.student-navbar-logo{
   height: 90%;
   margin-right: 5px;
}

.student-navbar-buttons div{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.student-navbar-buttons div span{
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 250;
    cursor: pointer;
    padding: 10px; 
}
 
.student-navbar-buttons span:hover{
    position: relative;
    border-bottom: 2px solid var(--gray);
    bottom: 2px;
}

.student-dropdown.mouseover{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2); 
}

.student-dropdown{
    position: absolute;
    top: -30px;
    width: 250px;
    right: 30px;
}

.student-dropdown div{
    height: 48px;
    padding: 0px 10px;
    cursor: pointer;
}

.student-dropdown-btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}

.student-dropdown-avatar{
    background-color: gray;
    padding: 4px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    font-size: 15px;
    color: white;
}

.student-dropdown-account {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0;
}

.student-dropdown p{
    margin: 0;
}

.student-dropdown-sign-out {
    border-top: 1px solid var(--gray);
    display: flex;
    align-items: center;
}

/*first attempt begin*/

/* .student-navbar-container {
    position: relative;
    height: 48px;
    width: 100%;
}

.student-navbar-buttons {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-items: flex-start;
    gap: 20px;
}

.student-navbar-logo {
    height: 90%;
    margin-right: 5px;
}

.student-navbar-buttons div{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.student-navbar-buttons div span{
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 250;
    cursor: pointer;
    padding: 10px; 
}
 
.student-navbar-buttons span:hover{
    position: relative;
    border-bottom: 2px solid var(--gray);
    bottom: 2px;
}

.student-dropdown.mouseover{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2); 
}

.student-dropdown{
    position: absolute;
    top: 0px;
    width: 50%;
    right: 200px;
    display: flex;
}

.student-dropdown div{
    height: 48px;
    padding: 0px 10px;
    cursor: pointer;
}

.student-dropdown-button{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}

.student-dropdown-avatar{
    background-color: gray;
    padding: 4px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    font-size: 15px;
    color: white;
}

.student-dropdown-account {
    justify-content: space-around;
    margin: 10px 0;
}

.student-dropdown p{
    margin: 0;
}

.student-dropdown-sign-out {
    border-top: 1px solid var(--gray);
    display: flex;
    align-items: center;
} */

/*first attempt end*/

.student-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.outprocessing-container {
    position: relative;
    font-weight: proxima-nova, sans-serif;
    width: 50%;
    /* display:flex; */
    /* flex-direction: column; */
    text-align: left;
    /* padding-left: 25px; */
    /* padding-right: 15px; */
    left: 2rem;
    
}

.column-title {
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    color: midnight;
}

.student-section {
    border-bottom: 1px solid rgba(1, 1, 1);
    width: 60%;
    padding-bottom: 25px;
}

.student-info {
    font-weight: 300;
    color: rgb(54,69,79);
    margin: 0px 0;

}


.checklist-container {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
}

.task {
    display: inline;
    /* display:flex; */
    /* flex-direction: column; */
    text-align: left;
    width: 100%;
    list-style-type: none;
}

.task-item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.list-pop {
    display: flex;
    flex: column;
    width: 50%;
}

.task-item {
    color: black;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.due-date {
    display: inline-flex;
    padding: 8px 15px;
    width: 50%;
    justify-content: center;
}

.calendar-container {
    padding-left: 10px;
}

.notes-container {
    position:relative;
    font-weight: proxima-nova, sans-serif;
    width: 40%;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    left: 7.5%;
}

.note-container {
    position:absolute;
    left:0;
    right:0;
    display:block;
    width: 100%;

}

.header-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#notes-title {
    margin-right:2%;
}

.new-note {
    position: absolute;
    right: 0;
    width: auto;
    border: 1px solid black; 
    border-radius: 10px;   
    cursor: pointer;
}

.note-btn {
    margin: 5px 5px;
}

.note-item {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}



