.trash {
    position: absolute;
    right: 60px;
    height: 20px;
    width: 20px;
    fill: var(--teal);
}.wrapper {
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    /* justify-content: center;
    align-items: center; */
    /* align-items: center; */
    margin-top: 115px;
    position: relative;
}

.title_wrapper{
    position: relative;
}

.title{
    position: relative;
    left: 100px;
}

.description{
    position:relative;
    left:100px;
    color: rgb(84, 82, 82);
}


.btn_wrapper{
    position: relative;
}

.btb-btn {
    position: absolute;
    top: 80px;
    right: 100px;
    font-size: medium;
    line-height: normal;
    height: 35px;
    width: 150px;
    border-radius: 3px;
}

.accordion {
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
    
}

.item {
    background-color: E8E8E8;
    margin-bottom: 5px;
    padding: 10px 20px;
    /* align-items: center; */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1); 
}

.class{
    color: black;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
    
    
}
.trash {
    position: absolute;
    right: 60px;
    height: 20px;
    width: 20px;
    fill: var(--teal);
}

.content{
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    /* display: inline-block; */
    /* align-items: center; */
    
}

.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    /* align-items: center; */
}
.item_wrapper{
    display: grid;

    grid-template-columns: repeat(5, 2fr);
    
    grid-auto-rows: auto;
    
    grid-gap: 2rem;
    margin-left: 100px;
}

.item_card {
    text-align: center;
    border: 2px solid #e7e7e7;

    border-radius: 4px;
    
    padding: .5rem;
  }

.item_card:hover{
    border: 2px solid #a9a7a7;
    cursor: pointer;
    transition: 1s;
}