.chatbox {
   outline: 2px black solid;
   width: 350px;
   height: 500px;
   overflow-y: scroll;
   display: flex;
   flex-direction: column-reverse;
}

.msg {
   margin: 3px;
   padding: 8px;
   max-width: 250px;
   border-radius: 8px;
}

.msgFrom {
   background-color: rgb(0, 183, 255);
   align-self: flex-end;
}

.msgTo {
   background-color: rgb(211, 211, 211);
}