.chatbox {
   outline: 2px black solid;
   width: 350px;
   height: 500px;
   overflow-y: scroll;
   display: flex;
   flex-direction: column-reverse;
   padding: 5px;
}

.msg {
   margin: 3px;
   padding: 8px;
   max-width: 250px;
   border-radius: 8px;
   position: relative;
}

.msgFrom {
   background-color: rgb(0, 183, 255);
   align-self: flex-end;
}

.msgTo {
   background-color: rgb(255, 255, 255);
}

.msgTo .msgTime {
   font-size: smaller;
   visibility: hidden;
   position: absolute;
   right: 0;
   bottom: 0;
   
   z-index: 10;
   background-color: rgba(175, 175, 175, 0.685);
}

.msgFrom .msgTime {
   font-size: smaller;
   visibility: hidden;
   position: absolute;
   left: 0;
   bottom: 0;
   
   z-index: 10;
   background-color: rgba(175, 175, 175, 0.685);
}

.msg:hover .msgTime {
   visibility: visible;
}

.chat-input {
   resize: none;
   width: 300px;
   height: 50px;
}

.chat-container {
   background-color: rgb(228, 228, 228);
   width: fit-content;
   height: fit-content;
   padding: 10px;
   position: absolute;
   bottom: 100%;
   right: 0;
}

.chat-bottom-nav {
   width: 200px;
   height: 50px;
   margin: .5px;
   outline: 1px black solid;
   position: relative;
}

.chat-name {
   background-color: rgb(228, 228, 228);
   margin: 10px;
   height: 100%;
   width: 100%;
   
   transition: background-color 0.25s;
}

.chat-name:hover {
   background-color: rgb(197, 197, 197);
   cursor: pointer;
}