.admin-dashboard-container{
    height: 100%;
    width: 100%;
    background-color: var(--light-gray);
}

.admin-dashboard-container-body{
    position: relative;
    top: 30px;
    height: calc(100vh - 30px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
