@import url('https://fonts.cdnfonts.com/css/proxima-nova-2?styles=44819,44823,44817,44821,44813,44815,44811');

html, body, #root, .App{
  height: 100%;
  margin: 0;
  padding: 0; 
  font-family: 'Proxima Nova', sans-serif;
  background-color: var(--light-gray);
}

/* text hierachry */
/* midnight for primary headings (h1) 
charcoal for sub-headings  (h2)
dove-gray for small, (h3) secondary sub-headings */

/* other patterns */
/* silver for component non-backgrounds
light-gray is for page background (non-header)
blue-gray is for sidebar backgrounds */

body {
  --black: #000000;
  --white: #FFFFFF;
  --gray: #E8E8E8;
  --silver: #D8D8D8;
  --light-gray: #FAFAFA;
  --dove-gray: #737373;
  --midnight: #212529;
  --teal: #00808C;
  --charcoal: #333333;
  --blue-gray: #343940;
  font-family: 'Proxima Nova', sans-serif;
}

