.resetBtn {
    /* Font & Text */
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 46px;
  
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to right, var(--teal) 0px, #04c3d4 100%);
  
    /* Box */
    height: 46px;
    width: 332px;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    overflow: visible;
    cursor: pointer;
    visibility: visible;
    color: var(--white);
    /* Effects */
    transform: none;
    transition: 0.5 ease-in-out;
    outline: rgb(255, 255, 255) none 0px;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: rgba(27, 160, 5, 0.294) 0px 2.94613px 9.04605px 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .resetBtn:hover {
    background-color: var(--teal);
    background-image: none;
  }
  .resetBtnCont {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: -0.17px;
    line-height: 25.5px;
    text-decoration: none solid rgb(62, 67, 72);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
  
    white-space: normal;
    word-spacing: 0px;
  
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: var(--white);
  
    /* Box */
    height: 46px;
    width: 415px;
  }
  .resetInput {
    /* Font & Text */
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;
    text-decoration: none solid rgb(62, 67, 72);
    text-align: start;
  
    height: 48px;
    width: 415px;
    border: 1px solid rgb(172, 172, 173);
    border-top: 1px solid rgb(172, 172, 173);
    border-right: 1px solid rgb(172, 172, 173);
    border-bottom: 1px solid rgb(172, 172, 173);
    border-left: 1px solid rgb(172, 172, 173);
    margin: 0px;
    padding: 9px 15px 9px 64px;
  
    /* Effects */
    transform: none;
    transition: all 0.2s ease-in 0s;
    outline: rgb(62, 67, 72) none 0px;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 4.77752px 14.3326px 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .inputEx {
    /* Font & Text */
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25.5px;
  }

  .leftInput {
    /* Font & Text */
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: -0.17px;
    line-height: 46px;
    text-decoration: none solid rgb(62, 67, 72);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
  
    white-space: normal;
    word-spacing: 0px;
  
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: var();
  
    /* Box */
    height: 46px;
    width: 48px;
    border-top: 0px none rgb(62, 67, 72);
    border-right: 1px solid var(--black);
    border-bottom: 0px none rgb(62, 67, 72);
    border-left: 0px none rgb(62, 67, 72);
    margin: 0px;
    padding: 0px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
  
    /* Positioning */
    position: absolute;
    float: none;
    display: block;
    clear: none;
    z-index: 6;
  
    /* List */
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
  
    /* Table */
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
  
    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;
  
    /* Effects */
    transform: none;
    transition: all 0.2s ease 0s;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
  }
  .leftInputPass {
    /* Font & Text */
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: -0.17px;
    line-height: 46px;
    text-decoration: none solid rgb(62, 67, 72);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;
  
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(62, 67, 72);
  
    /* Box */
    height: 46px;
    width: 48px;
    border-top: 0px none rgb(62, 67, 72);
    border-right: 1px solid var(--black);
    border-bottom: 0px none rgb(62, 67, 72);
    border-left: 0px none rgb(62, 67, 72);
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
  
    /* Positioning */
    position: absolute;
    float: none;
    display: block;
    clear: none;
    z-index: 6;
  
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .emailCont {
    height: 82.5px;
    width: 415px;
    margin: 0 0 30px 0;
    display: block;
  }
  .containerReset {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
  }
  .resetAndTitle {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: -0.17px;
    line-height: 25.5px;
    white-space: normal;
  
    background-attachment: scroll;
    background-color: none;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(62, 67, 72);
  
    /* Box */
    height: 471.094px;
    width: 475px;
  
    /* Positioning */
  
    display: inline-block;
  
    /* List */
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
  
    /* Table */
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
  
    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;
  
    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }